@import "./fonts/Axiforma/stylesheet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-thumb-color: #c4b5fd;
  --scrollbar-track-color: #ede9fe;
  --selection-background: #ddd6fe;

  /* Images - will be referenced in the tailwind config*/
  --login-background: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/login/user-login.svg);
  --forgot-password-background: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/forgot-password/fp-background.svg);
  --browse-ads: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/marketplace/bg-ads.svg);
  --browse-ads-mobile: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/marketplace/bg-ads-mobile.svg);
  --browse-ads-tablet: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/marketplace/bg-ads-tablet.svg);
  --post-ads: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/post-ad/bg-post-ads.svg);
  --post-ads-mobile: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/post-ad/bg-post-ads-mobile.svg);
  --user-account: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/user-account/user-account-background.svg);
  --user-account-mobile: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/user-account/user-account-mobile-background.svg);
  --chat-background: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/chat/bg-chat.svg);
  --chat-background-mobile: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/chat/bg-chat-mobile.svg);
  --chat-background-1: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/chat/bg-chat-window-1.svg);
  --chat-background-2: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/chat/bg-chat-window-2.svg);
  --chat-background-3: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/chat/bg-chat-window-3.svg);
  --our-story-background: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/our-story/bg-our-story.svg);
  --our-story-background-mobile: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/our-story/bg-our-story-mobile.svg);
  --our-story-background-tablet: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/our-story/bg-our-story-tablet.svg);
  --faq-background: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/faq/faq-bg.svg);
  --faq-question: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/faq/faq-ques.svg);
  --faq-answer: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/faq/faq-ans.svg);
  --covid-background: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/covid/bg-covid.svg);
  --covid-background-mobile: url(https://ik.imagekit.io/nxtdoordeals/nddcommon/covid/bg-covid-mobile.svg);
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

body {
  font-family: "Axiforma";
}

html::-webkit-scrollbar {
  width: 1vw;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

html::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

::selection {
  background: var(--selection-background);
}

@layer components {
  /* Navbar custom styles */
  .basic-nav {
    @apply flex items-start justify-between w-full;
  }

  .nav-item {
    @apply mr-6 z-20 text-navText tracking-wider transform transition font-semibold duration-300 ease-in-out focus-within:outline-none;
  }

  .menu-nav-item {
    @apply z-30 text-base uppercase font-nav mb-12 cursor-pointer;
  }

  .sm-flex {
    @apply flex justify-center items-center;
  }

  .overlay-toggle {
    @apply top-0 right-0 fixed h-full duration-300;
  }

  .overlay-items {
    @apply transition duration-300 ease-in-out menu-nav-item transform focus-within:outline-none;
  }

  /* Apartment search custom styles */
  .search-results {
    @apply absolute mt-1 p-2 border-2 border-solid bg-white rounded-xl  text-brand-gray;
  }

  /* Input style */
  .textbox-input {
    @apply text-sm align-middle pt-3 pr-5 pb-2 pl-2 leading-8 outline-none caret-ad-purple;
  }

  /* Component headings */
  .component-heading {
    @apply font-bold text-2xl lg:text-3xl text-brand-gray tracking-wide text-center mb-6;
  }

  /* Component sub headings */
  .component-sub-heading {
    @apply font-bold text-xl text-brand-gray mb-4;
  }

  /* 404 page buttons */
  .btn-style {
    @apply w-40 h-12 text-sm text-white font-semibold rounded-xl uppercase tracking-wide;
  }

  /* The OTP text box styles */
  .otp-text {
    @apply align-middle p-1 leading-8 outline-none text-lg text-center w-10 border-2 rounded-md uppercase ml-2;
  }

  /* FAQ box style */
  .faq-box {
    @apply text-xl font-bold rounded-lg border-2 border-purple-100 hover:border-0 hover:shadow-categorycardshadow text-center px-10 py-12 tracking-wide cursor-pointer bg-white;
  }

  /* Brand text */
  .brand-text {
    @apply text-brand-purple font-semibold;
  }

  .error-border {
    @apply border-pink-600;
  }

  .error-text {
    @apply text-pink-600;
  }
}

.modal-z-idx {
  z-index: 99999999;
}

.perspective {
  perspective: "200px";
}

.focus-within\:border-brand-purple:focus-within {
  border-color: #550052;
}

.focus-within\:border-text-purple:focus-within {
  border-color: #8b5cf6;
  box-shadow: none;
}

.focus-within\:border-text-blue:focus-within {
  border-color: #4f46e5;
  box-shadow: none;
}

.carousel-container .carousel .slide {
  background: none;
  cursor: pointer;
}

.checkbox-align {
  vertical-align: -1px;
}

.svg-element {
  margin: auto;
  cursor: pointer;
  font-weight: 600;
  font-size: large;
  color: "#550052";
}

.glass-container {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(80px);
  border: 2px solid transparent;
  background-clip: padding-box;
  z-index: 1;
}

/* Chat bubble */
.chat-bubble {
  /* border-radius: 15px; */
  color: #fff;
  position: relative;
}

.from-chat:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #6d28d9;
  border-right: 15px solid transparent;
  border-top: 15px solid #6d28d9;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}

.to-chat:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #902393;
  border-top: 15px solid #902393;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}

.chat-list-seller:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #f9fafb;
  border-right: 15px solid transparent;
  border-top: 15px solid #f9fafb;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}

.chat-list-buyer:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #f9fafb;
  border-top: 15px solid #f9fafb;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}

/* Link styling */
.styled-link {
  position: relative;
  color: inherit;
}

.styled-link:focus-within {
  outline: none;
}

.styled-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.styled-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Logout */
.smoke .smoke-item {
  animation: animate-logout 2s forwards ease 1s;
}

@keyframes animate-logout {
  from {
    transform: rotate(0deg) translateY(0px);
    filter: blur(0px);
  }
  to {
    transform: rotate(45deg) translateY(-200px);
    filter: blur(20px);
    opacity: 0;
  }
}

/* 404 page */

.clouds-404 {
  animation: animate-404-clouds 5s linear infinite alternate;
}

.rain-404 {
  animation: animate-404-rain 5s linear infinite normal;
}

@keyframes animate-404-clouds {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-20px);
  }
}

@keyframes animate-404-rain {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Times animation */
.close-button-animation {
  transition: transform 0.5s;
}

.close-button-animation:hover {
  transform: rotate(180deg);
}

/* Tooltip - chat and image deletion */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltiptext {
  font-size: 0.75rem;
  visibility: hidden;
  background: #333333;
  width: 200px;
  color: #fff;
  text-align: left;
  padding: 10px 15px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -125px;
  z-index: 1;
}

.tooltiptext-delete {
  font-size: 0.75rem;
  visibility: hidden;
  background: #333333;
  width: 200px;
  color: #fff;
  text-align: left;
  padding: 10px 15px;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -105px;
  margin-top: 5px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover .tooltiptext-delete {
  visibility: visible;
}

/* .tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: 100%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #292d34 transparent;
} */

.tooltip .tooltiptext-delete::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #292d34 transparent;
}

/* Quote */
.quote::before {
  content: open-quote;
}

.quote::after {
  content: close-quote;
}

/* Wave on footer */
.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 55px;
}

.wave .shape-fill {
  fill: #ffffff;
}

/* Tilt above how it works */
.tilt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.tilt svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 52px;
}

.tilt .shape-fill {
  fill: #ffffff;
}

/* Wave above the our story sections - top */
.os-wave-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.os-wave-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 30px;
}

.os-wave-top .shape-fill {
  fill: #ffffff;
}

/* Wave above the our story sections - bottom */

.os-wave-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.os-wave-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 27px;
}

.os-wave-bottom .shape-fill {
  fill: #ffffff;
}
