@import "./fonts/Axiforma/stylesheet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Axiforma";
}

/* Navbar custom styles */
.basic-nav {
  @apply flex items-start justify-between w-full;
}

.nav-item {
  @apply mr-6 z-20 text-sm font-axiforma tracking-wide font-semibold transform transition duration-300 ease-in-out focus-within:outline-none;
}

.menu-nav-item {
  @apply z-30 text-base uppercase font-axiforma font-bold mb-12 cursor-pointer;
}

.sm-flex {
  @apply flex justify-center items-center;
}

.overlay-toggle {
  @apply top-0 right-0 fixed h-full duration-300;
}

.overlay-items {
  @apply transition duration-300 ease-in-out menu-nav-item transform focus-within:outline-none;
}

/* Apartment search custom styles */
.search-results {
  @apply font-axiforma absolute mt-1 p-2 border-2 border-solid bg-white z-20 rounded-xl  text-brand-gray;
}

/* Input style */
.textbox-input {
  @apply font-axiforma text-sm align-middle pt-3 pr-5 pb-2 pl-2 leading-8 outline-none;
}

/* Component headings */
.component-heading {
  @apply font-bold text-3xl text-brand-gray tracking-wide text-center mb-6;
}

/* Component sub headings */
.component-sub-heading {
  @apply font-bold text-xl text-brand-gray mb-4;
}

/* 404 page buttons */
.btn-style {
  @apply w-40 h-12 text-sm text-white font-axiforma font-semibold rounded-md uppercase tracking-wide;
}

/* The OTP text box styles */
.otp-text {
  @apply align-middle p-1 leading-8 outline-none text-lg text-center w-10 border-2 rounded-md uppercase ml-2;
}

/* FAQ box style */
.faq-box {
  @apply text-xl font-bold rounded-lg shadow-categorycardshadow text-center px-10 py-12 tracking-wide cursor-pointer bg-white;
}

/* Brand text */
.brand-text {
  @apply text-brand-purple font-semibold;
}

.modal-z-idx {
  z-index: 99999999;
}

.perspective {
  perspective: "200px";
}

.focus-within\:border-brand-purple:focus-within {
  border-color: #550052;
}

.focus-within\:border-text-purple:focus-within {
  border-color: #8b5cf6;
  box-shadow: none;
}

.focus-within\:border-text-blue:focus-within {
  border-color: #4f46e5;
  box-shadow: none;
}

.carousel-container .carousel .slide {
  background: none;
  cursor: pointer;
}

.checkbox-align {
  vertical-align: -1px;
}

.svg-element {
  margin: auto;
  cursor: pointer;
  font-weight: 600;
  font-size: large;
  color: "#550052";
}

.glass-container {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(80px);
  border: 2px solid transparent;
  background-clip: padding-box;
  z-index: 1;
}

/* Chat bubble */
.chat-bubble {
  /* border-radius: 15px; */
  color: #fff;
  position: relative;
}

.from-chat:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #8b5cf6;
  border-right: 15px solid transparent;
  border-top: 15px solid #8b5cf6;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}

.to-chat:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #902393;
  border-top: 15px solid #902393;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}

.chat-list-seller:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #f9fafb;
  border-right: 15px solid transparent;
  border-top: 15px solid #f9fafb;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}

.chat-list-buyer:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #f9fafb;
  border-top: 15px solid #f9fafb;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}

/* Link styling */
.styled-link {
  position: relative;
  color: inherit;
}

.styled-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.styled-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Logout */
.smoke .smoke-item {
  animation: animate-logout 5s forwards ease 2s;
}

@keyframes animate-logout {
  from {
    transform: rotate(0deg) translateY(0px);
    filter: blur(0px);
  }
  to {
    transform: rotate(45deg) translateY(-200px);
    filter: blur(20px);
    opacity: 0;
  }
}

/* 404 page */

.clouds-404 {
  animation: animate-404-clouds 5s linear infinite alternate;
}

.rain-404 {
  animation: animate-404-rain 5s linear infinite normal;
}

@keyframes animate-404-clouds {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-20px);
  }
}

@keyframes animate-404-rain {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Tooltip - chat */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltiptext {
  font-size: 1rem;
  visibility: hidden;
  background: #292d34;
  width: 250px;
  color: #fff;
  text-align: left;
  padding: 10px 15px;
  border-radius: 10px;
  position: absolute;
  right: 110%;
  top: -5%;
  margin-top: -60px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #292d34;
}
