@font-face {
  font-family: "Axiforma";
  src: url("Axiforma-Regular.eot");
  src: local("Axiforma Regular"), local("Axiforma-Regular"),
    url("Axiforma-Regular.eot?#iefix") format("embedded-opentype"),
    url("Axiforma-Regular.woff") format("woff"),
    url("Axiforma-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma";
  src: url("Axiforma-Bold.eot");
  src: local("Axiforma Bold"), local("Axiforma-Bold"),
    url("Axiforma-Bold.eot?#iefix") format("embedded-opentype"),
    url("Axiforma-Bold.woff2") format("woff2"),
    url("Axiforma-Bold.woff") format("woff"),
    url("Axiforma-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma";
  src: url("Axiforma-ExtraBold.eot");
  src: local("Axiforma ExtraBold"), local("Axiforma-ExtraBold"),
    url("Axiforma-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("Axiforma-ExtraBold.woff2") format("woff2"),
    url("Axiforma-ExtraBold.woff") format("woff"),
    url("Axiforma-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
